@import url('https://fonts.googleapis.com/css2?family=Lavishly+Yours&family=Playwrite+AU+SA:wght@100..400&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Lavishly+Yours&family=Playwrite+AU+SA:wght@100..400&display=swap');

#topdiv {
    background: linear-gradient(to bottom, #F6DBB2, #f0dec3);
}

p {
    z-index: 1100;
}

#progress-fill {
    display: block;
    background-color: #674C2F;
    width: 50%;
    height: 100%;
    transition: width 0.3s ease;
}

h1 {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    font-size: 45px;
    margin: 0;
    padding-top: 90px;
    width: 100%;
    /* background-color: #F6DBB2; */
}
button {
    display: block;
    margin: 0 auto;
    padding: 12px 24px;
    background-color: #795548;
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    bottom: 10px;
    position: fixed;
    align-items: center;
    width: 90vw;
    text-align: center;
    left: 50%;
    transform: translateX(-50%);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

button[disabled] {
    background-color: #D2BBA1;
    color: #666666;
    cursor: not-allowed;
}

button:hover {
    background-color: #8f8478;
}
main {
    padding: 20px;
    text-align: center;
}
#images {
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-bottom: 70px;
    margin-top: 80px;
}
img {
    max-width: 90%;
    object-fit: cover;
}
img.selected {
    box-shadow: 0 4px 20px 5px rgba(103, 76, 47, 0.6);
    border: none;
    border-radius: 8px;
}
img:hover {
    transform: scale(1.03);
}
button:hover:not([disabled]) {
    background-color: #674C2F;
}
figcaption {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 13px;
    margin: 0;
}
figure {
    margin: 5px;
    margin-bottom: 10px;
}

@media (min-width:850px) {
 
    img {
        width: auto; 
        height: auto;
    }
    main {
        overflow-x: auto; 
    }
    #images {
        width: 200%;
        display: flex;
        gap: 2px; 
        padding: 10px 0;
        padding-left: 15px;
    }
    button {
        width: 40vw;
        bottom: 30px;
    }
    #progress-one {
        display: flex;
        width: 60vw;
        margin: 0 auto;
    }
    #progress {
        background-color: #E0AC74;
        height: 3px;
        width: 50vw;
        top: 0;
        position: relative;
        align-items: center;
        box-sizing: content-box;
        margin: 0 auto;
    }

    #goback {
        top: 0px;
        left: 200px; 
    }
}

