@import url('https://fonts.googleapis.com/css2?family=Lavishly+Yours&family=Playwrite+AU+SA:wght@100..400&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Lavishly+Yours&family=Playwrite+AU+SA:wght@100..400&display=swap');

body {
    font-family: "Playwrite AU SA", cursive;
    
    margin: 0 auto;
    padding: 20px;
    color: #000000;
    background-color: #F6DBB2;
}
h1 {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    font-size: 22px;
    margin: 0;
    margin-top: 14px;
    width: 100%;
   
}
#topdiv {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #F6DBB2;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 5px 20px;
    box-sizing: border-box;
    z-index: 1000;
}

#goback {
    color: #674C2F;
    top: 0;
    left: 0;
    font-size: 24px;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

#progress {
    background-color: #E0AC74;
    height: 3px;
    width: 80vw;
    top: 0;
    position: relative;
    box-sizing: content-box;
}
#progress-one {
    display: flex;
    gap: 10px;
    width: 100vw;
    justify-content: center;
    align-items: center;
}
p {
    font-size: 14px;
    color: #674C2F;
    font-family:Verdana, Geneva, Tahoma, sans-serif
}

#progress-fill {
    display: block;
    background-color: #674C2F;
    width: 50%;
    height: 100%;
    transition: width 0.3s ease;
    
}


button {
    display: block;
    margin: 0 auto;
    padding: 12px 24px;
    background-color: #795548;
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
}
button[disabled] {
    background-color: #cccccc;
    color: #666666;
    cursor: not-allowed;
}

button:hover {
    background-color: #5d4037;
}
main {
    padding: 20px;
    text-align: center;
}
#images {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-wrap: wrap;
    margin-bottom: 40px;
}
img {
    max-width: 30%;
    padding: 5px;
    object-fit: cover;
    box-shadow: 0 4px 8px rgba(22, 23, 24, 0.08);
}
img.selected {
    border: 3px solid #673d06;
}
img:hover {
    transform: scale(1.03);
}
button:hover:not([disabled]) {
    background-color: #5d4037;
}

@media (max-width:450px) {
    img {
        max-width: 70%;
    }
    main {
        padding: 5px;
    }
}

