@import url('https://fonts.googleapis.com/css2?family=Italianno&display=swap');

:root {
	--root-size-h1: 23px;
	--root-size-h2: 14px;
    --root-size-p: 14px;
    --root-size-p2: 16px;
	--root-size-letter: 8.75px;
	--line-height-letter: 140%; 
    --root-padding: 10px;
    --root-padding-top: 10px;
    --root-padding-bottom: 22px;
    --root-padding-left: 7px;
    --root-margin: 10px;
    --root-margin-bottom: 15px;
}

body {
    font-family: "Italianno", cursive;
    color: #000000;
    background-color: #f0dec3;
}

#topdiv {
    top: 0;
    left: 0;
    width: 100%;
    background: linear-gradient(to bottom, #F6DBB2, #f0dec3);
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    padding: calc(var(--root-padding) * 2);
    padding-bottom: 0px;
    text-align: center;
}

#goback {
    position: absolute;
    color: #674C2F;
    top: 20px;
    left: 0;
    padding-top: calc(var(--root-padding-top) * 3);
    padding-left: calc(var(--root-padding-left) * 2);
    font-size: var(--root-size-h1);
    cursor: pointer;
}

#progress {
    background-color: #E0AC74;
    height: 3px;
    width: 80vw;
    top: 0;
    position: relative;
    box-sizing: content-box;
}
#progress-one {
    display: flex;
    gap: 10px;
    width: 90vw;
    justify-content: center;
    align-items: center;
}

p {
    font-size: 13px;
    color: #674C2F;
    font-family:Verdana, Geneva, Tahoma, sans-serif
}