@import url('https://fonts.googleapis.com/css2?family=Lavishly+Yours&family=Playwrite+AU+SA:wght@100..400&display=swap');

body {
    font-family: "Playwrite AU SA", cursive;
    max-width: 700px;
    margin: 0 auto;
    padding: 20px;
    color: #000000;
    background-color: #ececec;
}
h1 {
    font-size: 24px;
    margin: 20px;
}

button {
    display: block;
    margin: 0 auto;
    padding: 12px 24px;
    background-color: #795548;
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
}
img {
    box-shadow: 0 4px 8px rgba(11, 14, 22, 0.08);
}

button:hover {
    background-color: #5d4037;
}
main {
    padding: 20px;
    text-align: center;
}

@media (max-width:450px) {
    img {
            width: 30vh;
            height: 40vh;
            object-fit: cover; 
           margin: 10px;
         
    }
}