@import url('https://fonts.googleapis.com/css2?family=Lavishly+Yours&family=Playwrite+AU+SA:wght@100..400&display=swap');


h1 {
    font-size: 54px;
    text-align: center;
}
#branch {
    max-height: 240px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 20;
    margin: 0;
}
/* #branch2 {
    max-height: 110px;
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: -1;
    margin: 0;
} */

img {
    height: 65vh;
    margin: 0 auto;
    margin-top: 40px;
    position: relative; 
    text-align: center;
    left: 50%;
    transform: translateX(-50%);
    z-index: 100;
}
p {
    font-size: 18px;
    line-height: 90%;
    text-align: center;
}

button {
    display: block;
    margin: 0 auto;
    padding: 12px 24px;
    background-color: #795548;
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    bottom: 10px;
    position: fixed;
    align-items: center;
    width: 90vw;
    text-align: center;
    left: 50%;
    transform: translateX(-50%);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

button[disabled] {
    background-color: #D2BBA1;
    color: #666666;
    cursor: not-allowed;
}

button:hover {
    background-color: #8f8478;
}

button:hover {
    background-color: #5d4037;
}
i {
    font-family: "Italianno", cursive;
    font-size: 40px;
}


@media (min-width:1000px) {
    img {
        position: fixed;
        height: 80vh;
        top: 50%;
        left: 30%;
        transform: translate(-50%, -50%);
    }
    h1 {
        font-size: 90px;
        top: 0%;
       left: 80%;
        line-height: 90%;
        
        color: #000000;
        position: absolute;
        z-index: 100;
    }
    
    body {
        max-width: 100vh;
        padding: 0;
    }
}