@import url('https://fonts.googleapis.com/css2?family=Lavishly+Yours&family=Playwrite+AU+SA:wght@100..400&display=swap');

body {
    font-family: "Playwrite AU SA", cursive;
    max-width: 700px;
    margin: 0 auto;
    color: #000000;
    background-color: #c6a981;
}
/* html {
    background-image: url('/resources/Group-12.png');
    background-repeat: no-repeat;
    background-size: 150vw 100vh;
} */
h1 {
    font-size: 22px;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #ffffff;
    position: absolute;
    z-index: 100;
}

button {
    position: absolute; 
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    display: block;
    margin: 0 auto;
    padding: 12px 24px;
    background-color: #024E53;
    color: white;
    border: none;
    border-radius: 3px;
    font-size: 16px;
    cursor: pointer;
}
img {
    box-shadow: 0 4px 8px rgba(11, 14, 22, 0.08);
    display: none;
}
#main-title {
    background-image: url('resources/ad.jpg');
    /* filter: brightness(90%); */
    background-repeat: no-repeat;
    background-size: 60vw 50vh;
    width: 60vw;
    height: 50vh;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: relative;
    border: 3px solid #dfc271;
    
}

button:hover {
    background-color: #5d4037;
}
main {
    width: 80vw;
    height: 80vh;
    background-image: url("resources/fds.png");
    background-repeat: no-repeat;
    background-size: 200vw 90vh;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 3px solid #dfc271;
    
}

/* @media (max-width:450px) {
    img {
            width: 30vh;
            height: 40vh;
            object-fit: cover; 
    }
    main {
        margin-top: 40px;
        padding: 5px;
    }
    body {
        max-width: 100vh;
        padding: 0;
    }
} */