@import url('https://fonts.googleapis.com/css2?family=Lavishly+Yours&family=Playwrite+AU+SA:wght@100..400&display=swap');

.hidden {
    display: none;
}
#recipient {
    color: #383838;
}
#sender {
    color: #383838;
}
#recipientName {
    color: #383838;
}

.input-container {
    background-image: url("../resources/paper.jpg");
    padding: 20px;
    margin-top: 70px;
    margin-bottom: 20px;
    box-shadow: 0 4px 8px rgba(11, 14, 22, 0.08);
}

.input-group {
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: medium;
    color: #000000;
}

input[type="text"] {
    width: 100%;
    padding: 10px;
    border-bottom: 1px solid #383838;;
    border-radius: 4px;
    font-size: 16px;
}
button.disabled {
    opacity: 0.6;
    cursor: not-allowed;
    background-color: #9b9b9b;
}
.input-group label[for="recipient"]::after,
.input-group label[for="sender"]::after {
    content: " *"; 
    color: red;
}

#letter-container {
    position: relative;
    background-image: url("../resources/paper.jpg");
    padding: 20px;
    margin-bottom: 20px;
    min-height: 400px;
    white-space: pre-line;
    line-height: 1.6;
    font-size: 18px;
    font-style: normal;
    box-shadow: 0 4px 8px rgba(11, 14, 22, 0.08);
}
#edit {
    margin: 1px;
    height: 40px;
    background-color: transparent;
    position: absolute;
    color: #674C2F;
    border: 1px solid #555;
    top: 10px;
    right: 10px;
    z-index: 10;
    padding: 6px 12px;
    cursor: pointer;
}
#print {
    background-color: #281D10;
 }
 #print:hover {
    background-color: #9b5f24;
 }
 .edit-controls {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: end;
    justify-content: end;
    padding-bottom: 70px;
}

.edit-controls.hidden {
    display: none;
}

button:hover {
    background-color: #5d4037;
}

#letter {
    font-weight: 300;
}
#selectedImageContainer {
    display: flex;
    justify-content: center;
    margin: 20px 0;
  }
.selected-image {
    max-width: 100%;
    max-height: 300px; 
    object-fit: contain;
  }

  #generate {
    display: block;
    margin: 0 auto;
    padding: 12px 24px;
    background-color: #795548;
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    bottom: 10px;
    position: fixed;
    align-items: center;
    width: 90vw;
    text-align: center;
    left: 50%;
    transform: translateX(-50%);
    z-index: 200;
}
 button {
    margin: 0 auto;
    padding: 12px 24px;
    background-color: #795548;
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    bottom: 10px;
 }
 
body {
    font-family: "Playwrite AU SA", cursive;
    margin: 0 auto;
    padding: 20px;
    color: #000000;
    background-color: #F6DBB2;
}
h1 {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    font-size: 22px;
    margin: 0;
    margin-top: 50px;
    width: 100%;
   
}
#topdiv {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #F6DBB2;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    z-index: 1000;
    padding: 20px;
    padding-bottom: 44px;
    text-align: center;
}

#goback {
    position: absolute;
    color: #674C2F;
    top: 0;
    left: 0;
    padding-top: 30px;
    padding-left: 14px;
    font-size: 24px;
    cursor: pointer;
}

#progress {
    background-color: #E0AC74;
    height: 3px;
    width: 80vw;
    top: 0;
    position: relative;
    box-sizing: content-box;
}
#progress-one {
    display: flex;
    gap: 10px;
    width: 90vw;
    justify-content: center;
    align-items: center;
}
p {
    font-size: 13px;
    color: #674C2F;
    font-family:Verdana, Geneva, Tahoma, sans-serif
}

#progress-fill {
    display: block;
    background-color: #674C2F;
    width: 100%;
    height: 100%;
    transition: width 0.3s ease;
}
#selectedImageContainer {
    margin: 20px auto;
    text-align: center;
}
#selectedImageContainer img {
    max-width: 100%;
    max-height: 300px;
    border-radius: 8px;
}

@media print {
    .input-container {
        display: none;
    }
    #first-label {
        display: none;
    }
    #generate {
        display: none;
    }
    #edit {
        display: none;
    }
    #print {
        display: none;
    }
    #letter-container {
        background-color: #fff;
        padding: 0px;
        min-height: 400px;
        white-space: pre-line;
        line-height: 1.6;
        font-size: 24px;
        box-shadow: 0 0px 0px rgba(11, 14, 22, 0.08);
    }
    body {
        font-family: "Playwrite AU SA", cursive;
        max-width: 700px;
        margin: 0 auto;
        padding: 20px;
        color: #000000;
        background-color: #ffffff;
    }

}
