@import url('https://fonts.googleapis.com/css2?family=Lavishly+Yours&family=Playwrite+AU+SA:wght@100..400&display=swap');

body {
    font-family: "Playwrite AU SA", cursive;
    max-width: 700px;
    margin: 0 auto;
    padding: 20px;
    color: #000000;
    background-color: #e1d6c7;
}
.hidden {
    display: none;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
    color: #000000;
    font-weight: 400;
    font-style: normal;
    font-size: 30px;
}
#recipient {
    color: #bdbdbd;
}
#sender {
    color: #bdbdbd;
}
#recipientName {
    color: #bdbdbd;
}

.input-container {
    background-color: #fff;
    padding: 20px;
    margin-bottom: 20px;
    /* border: 1px solid #ddd; */
    box-shadow: 0 4px 8px rgba(11, 14, 22, 0.08);
}

.input-group {
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: medium;
    color: #000000;
}

input[type="text"] {
    width: 100%;
    padding: 10px;
    border-bottom: 1px solid #ddd;
    border-radius: 4px;
    font-size: 16px;
}
button.disabled {
    opacity: 0.6;
    cursor: not-allowed;
    background-color: #9b9b9b;
}
.input-group label[for="recipient"]::after,
.input-group label[for="sender"]::after {
    content: " *"; 
    color: red;
}

#letter-container {
    background-color: #fff;
    /* border: 1px solid #ddd; */
    /* border-radius: 8px; */
    padding: 30px;
    margin-bottom: 20px;
    min-height: 400px;
    white-space: pre-line;
    line-height: 1.6;
    font-size: 18px;
    font-style: normal;
    box-shadow: 0 4px 8px rgba(11, 14, 22, 0.08);
    
}

#letter {
    font-weight: 300;
}
#selectedImageContainer {
    display: flex;
    justify-content: center;
    margin: 20px 0;
  }
.selected-image {
    max-width: 100%;
    max-height: 300px; 
    object-fit: contain;
  }

button {
    display: block;
    margin: 0 auto;
    padding: 12px 24px;
    background-color: #795548;
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
}

button:hover {
    background-color: #5d4037;
}

#edit {
    margin: 1px;
    background-color: #989898;
}
.edit-controls {
    display: flex;
    align-items: flex-start;
    gap: 0px;
    margin-top: 15px;
}

.edit-controls.hidden {
    display: none;
}
#selectedImageContainer {
    margin: 20px auto;
    text-align: center;
}
#selectedImageContainer img {
    max-width: 100%;
    max-height: 300px;
    border-radius: 8px;
}

@media print {
    .input-container {
        display: none;
    }
    #first-label {
        display: none;
    }
    #generate {
        display: none;
    }
    #edit {
        display: none;
    }
    #print {
        display: none;
    }
    #letter-container {
        background-color: #fff;
        padding: 0px;
        min-height: 400px;
        white-space: pre-line;
        line-height: 1.6;
        font-size: 24px;
        box-shadow: 0 0px 0px rgba(11, 14, 22, 0.08);
    }
    body {
        font-family: "Playwrite AU SA", cursive;
        max-width: 700px;
        margin: 0 auto;
        padding: 20px;
        color: #000000;
        background-color: #ffffff;
    }

}
