@import url('https://fonts.googleapis.com/css2?family=Lavishly+Yours&family=Playwrite+AU+SA:wght@100..400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Italianno&display=swap');

.hidden {
    display: none;
}
.input-container {
    background-color: #fbedd9;
    padding: 20px;
    margin-top: 90px;
    margin-bottom: 50px;
    box-shadow: 0 4px 8px rgba(11, 14, 22, 0.08);
}

.input-group {
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: medium;
    color: #000000;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 14px;
}

input[type="text"] {
    width: 100%;
    padding: 10px;
    border-bottom: 1px solid #000000;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 14px;
    color: #9b9b9b;
}

input[type="text"]:not(:placeholder-shown) {
    color: #000000; 
}
button.disabled {
    opacity: 0.6;
    cursor: not-allowed;
    background-color: #9b9b9b;
}
.input-group label[for="recipient"]::after,
.input-group label[for="sender"]::after {
    content: " *"; 
    color: red;
}

#letter-container {
    position: relative;
    background-image: url("../resources/paper.jpg");
    padding: 20px;
    padding-bottom: 0px;
    margin-bottom: 20px;
    min-height: 400px;
    white-space: pre-line;
    line-height: 146%;
    font-size: 28px;
    font-style: normal;
}
#edit {
    background-color: #eec397;
    position: absolute;
    color: #000000;
    border: 1.5px solid #555;
    top: 30px;
    right: 0px; 
    z-index: 10;
    cursor: pointer;
    height: 40px; 
    margin-right: 15px;

    display: flex;
    justify-content: center; 
    align-items: center;
    
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 14px;
}
#edit.save-mode {
    background-color: #00a519; 
    color: white;
    border-color: transparent;
  }
  .edit-controls {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-bottom: 70px;
    text-align: center;
   
}
.edit-controls button {
    margin: 0;
}
 #homepage {
    background-color: #161008;
    width: 75%;
    margin-left: 5vw;
    font-size: 14px;
 }
 #print {
    background-color: #161008;
    width: 75%;
    font-size: 14px;
 }

 #print:hover {
    background-color: #9b5f24;
 }

.edit-controls.hidden {
    display: none;
}

button:hover {
    background-color: #5d4037;
}

#letter {
    font-weight: 300;
}
#selectedImageContainer {
    display: flex;
    justify-content: end;
    margin: 10px 0;
  }
.selected-image {
    max-width: 100%;
    max-height: 300px; 
    object-fit: contain;
  }

  #generate {
    display: block;
    margin: 0 auto;
    padding: 12px 24px;
    background-color: #795548;
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    bottom: 10px;
    position: fixed;
    align-items: center;
    width: 90vw;
    text-align: center;
    left: 50%;
    transform: translateX(-50%);
    z-index: 200;
}
h1 {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    font-size: 45px;
    margin: 0;
    padding-top: 40px;
    width: 100%;
}
 button {
    margin: 0 auto;
    padding: 12px 24px;
    background-color: #795548;
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    bottom: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16px;
 }
h1 {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    font-size: 45px;
    margin: 0;
    margin-top: 60px;
    width: 100%;
}
#topdiv {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #F6DBB2;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    z-index: 1000;
    padding: 20px;
    padding-bottom: 54px;
    text-align: center;
}

#goback {
    position: absolute;
    color: #674C2F;
    top: 0;
    left: 0;
    padding-top: 30px;
    padding-left: 14px;
    font-size: 24px;
    cursor: pointer;
}

#progress {
    background-color: #E0AC74;
    height: 3px;
    width: 80vw;
    top: 0;
    position: relative;
    box-sizing: content-box;
}
#progress-one {
    display: flex;
    gap: 10px;
    width: 90vw;
    justify-content: center;
    align-items: center;
}
p {
    font-size: 13px;
    color: #674C2F;
    font-family:Verdana, Geneva, Tahoma, sans-serif
}

#progress-fill {
    display: block;
    background-color: #674C2F;
    width: 100%;
    height: 100%;
    transition: width 0.3s ease;
}
#selectedImageContainer {
    margin: 20px auto;
    text-align: center;
}
#selectedImageContainer img {
    max-width: 100%;
    max-height: 300px;
    border-radius: 8px;
}
@media (min-width:850px) {
    .input-container {
        padding: 20px;
        margin: 0 auto;
        width: 50vw;
        margin-top: 120px;
        margin-bottom: 50px;
    }
    #letter-container {
        padding: 38px;
        margin: 0 auto;
        width: 50vw;
        line-height: 146%;
        font-size: 32px;
    }
    #selectedImageContainer img {
        max-width: 100%;
        max-height: 220px;
        border-radius: 8px;
    }
    #edit {
        background-color: transparent;
        position: absolute;
        color: #000000;
        border: 1.5px solid #555;
        top: 30px;
        right: 20px; 
        z-index: 10;
        cursor: pointer;
        height: 40px; 

        display: flex;
        justify-content: center; 
        align-items: center;
        
        text-align: center;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-size: 14px;
    }
    button {
        width: 10vw;
        bottom: 30px;
    }
    #generate {
        width: 50vw;
    }
    #progress-one {
        display: flex;
        width: 60vw;
        margin: 0 auto;
    }
    #progress {
        background-color: #E0AC74;
        height: 3px;
        width: 60vw;
        top: 0;
        position: relative;
        align-items: center;
        box-sizing: content-box;
        margin: 0 auto;
    }
    #homepage {
        background-color: #281D10;
        width: 20%;
        font-size: 14px;
     }
    #print {
        background-color: #161008;
        width: 20%;
        font-size: 14px;
     }
    .edit-controls {
        display: grid;
        grid-template-columns: 1fr 1fr;
        align-items: end;
        padding-bottom: 70px;
        text-align: end;
    }
}

@media print {
    .input-container {
        display: none;
    }
    #first-label {
        display: none;
    }
    #generate {
        display: none;
    }
    #edit {
        display: none;
    }
    #print {
        display: none;
    }
    #topdiv {
        display: none;
    }
    #homepage {
        display: none;
    }
    #letter-container {
        background-color: #fff;
        padding: 40px;
        padding-top: 10px;
        margin: 0px;
        white-space: pre-line;
        line-height: 146%;
        font-size: 42px;
      
    }
    body {
        font-family: "Italianno", cursive;
        color: #000000;
        background-color: #ffffff;
    }
 

}
